<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyrHTvwaqCmwLzvww-F-IvljU_yisEUBM</string>
	<key>GCM_SENDER_ID</key>
	<string>377798620953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safetynetMobileApp</string>
	<key>PROJECT_ID</key>
	<string>safetynetapp-9b038</string>
	<key>STORAGE_BUCKET</key>
	<string>safetynetapp-9b038.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377798620953:ios:8890ac53c3b1acd8bc3788</string>
</dict>
</plist>